.wd-20
{
    width: 20%;
}

.wd-40
{
    width: 40%;
}

.ht-20
{
    height: 20%;
}

.ht-40
{
    height: 40%;
}

.grid-col-6
{
    grid-template-columns: repeat(6, 1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3, 1fr);
}

.path
{
    margin: 0%;
    display: grid;
    padding: 0%;
    outline: auto;
}

